@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* Font Variables */
  --font-editor: "Inter", sans-serif;

  /* Colour Variables */
  --color-text-100: var(--color-neutral-200);
  --color-text-200: color-mix(
    in srgb,
    var(--color-neutral-300),
    var(--color-neutral-400)
  );

  /* Colour Variables */
  --color-editor-800: var(--color-neutral-800);
  --color-editor-900: color-mix(
    in srgb,
    var(--color-neutral-900),
    var(--color-neutral-950)
  );
}
